<div id="<%= dom_id portfolio %>">
  <p>
    <strong>User:</strong>
    <%= portfolio.user_id %>
  </p>

  <p>
    <strong>Asset name:</strong>
    <%= portfolio.asset_name %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= portfolio.symbol %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= portfolio.quantity %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= portfolio.notes %>
  </p>

</div>
